//
//  Secrets.xcconfig
//  AdyenDemo
//
//  Created by Nobuya Iwao on 2026/07/14.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
ADYEN_CLIENT_KEY = test_FLZFMM5BLNB3FJXRV5VIY3ZIZEGQNZUU
